a {
    text-decoration:none;
    color:black;
}

.container {
    background-color:white;
    display:grid;
    grid-template-columns: repeat(50,1fr);
    padding: 5px 0px 10px 0px;
    column-gap: 5px;
    width:100%;
    text-align: left;
}

.d1 {
    grid-column: 1 / 5;
}

.d2 {
    grid-column: 5 / 6;
}

.d4 {
    grid-column: 65 / 75;
}
.d5 {
    grid-column: 77 / 90;
}
.d6 {
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color:rgb(177, 177, 177);
    color:white;
    grid-column: 92 / 110;
}

#MBsign {
    position: relative;
    top:20px;
    right:-15px;   
}

#googlelogo {
    padding-top: 130px;
    padding-bottom: 10px;
    display:block;
    margin-left:auto;
    margin-right:auto;

}

#box {
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 35px 35px;
    row-gap: 10px;
    column-gap: 5px;
    padding-bottom:400px;
    width:100%;
    text-align:center;
}

#searchbar {
    grid-column: 1 / 11;
}

#gsearch, #goodluck {
    grid-row: 2 / 3;
    width: 160px;
}

#gsearch {
    grid-column: 5 / 6;
}

#goodluck {
    grid-column: 6 / 7;
}


#defooter {
    height:20px;
    width:auto;
    background-color:rgb(221, 221, 221);
    padding:0.7em;
    margin-bottom: 10px;
}

.co2andothercontainer {
    display:grid;
    grid-template-columns: repeat(100, 1fr);
    column-gap: 5px;
    padding-bottom:15px;
    width:100%;
    text-align: right;
    
}

.d7 {
    grid-column: 10 / 25;
}
.d8 {
    grid-column: 50 / 85;
}
.d9 {
    grid-column: 86 / 96;
}
.d10 {
    grid-column: 97 / 110;
    
}