a {
    text-decoration:none;
    color:black;
}

#headershape {
    background-color:yellow;
    width:auto;
    height:110px;
}

#uppershape {
    height: 40px;
    width: 40px;
    background-color:rgb(179, 179, 179);
    border-radius: 50%;
}

#deutschlandfooter {
    height:20px;
    width:auto;
    background-color:rgb(95, 95, 95);
    padding:0.6em;
}